# Exemples de fonctions Pandas utiles pour le TP 1

## Importations des librairies utiles

In [3]:
import numpy as np
import pandas as pd

print('numpy %s, pandas %s'%(np.__version__,pd.__version__))

numpy 1.24.2, pandas 1.5.3

## Creation depuis un CSV et affichage d'un Dataframe Pandas

In [4]:
my_dataframe = pd.read_csv('Data/iris.csv', dtype={'id_Iris': int})
my_dataframe

,id_Iris,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
0,23,NaN,NaN,1.4,0.2,0
1,104,4.9,3.0,1.4,0.2,0
2,18,4.7,3.2,1.3,0.2,0
3,49,4.6,3.1,1.5,0.2,0
4,123,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...,...
145,124,6.7,3.0,5.2,2.3,2
146,44,6.3,2.5,5.0,1.9,2
147,69,6.5,3.0,NaN,2.0,2
148,56,6.2,3.4,5.4,2.3,2
149,5,5.9,3.0,5.1,1.8,2

### Quelques Affichages du dataframe

In [5]:
my_dataframe.sample(5)

,id_Iris,Longueur Sépale (cm),Largeur Sépale (cm),Longueur Pétale (cm),Largeur Pétale (cm),Type Iris
137,58,6.4,3.1,5.5,1.8,2
147,69,6.5,3.0,NaN,2.0,2
15,60,5.7,4.4,1.5,NaN,0
90,40,5.5,2.6,4.4,NaN,1
87,128,6.3,2.3,4.4,1.3,1

In [6]:
my_dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_Iris               150 non-null    int32
 1   Longueur Sépale (cm)  142 non-null    float64
 2   Largeur Sépale (cm)   142 non-null    float64
 3   Longueur Pétale (cm)  143 non-null    float64
 4   Largeur Pétale (cm)   146 non-null    float64
 5   Type Iris             150 non-null    int64
dtypes: float64(4), int32(1), int64(1)
memory usage: 6.6 KB

In [7]:
my_dataframe.mean()

id_Iris                 74.500000
Longueur Sépale (cm)     5.846479
Largeur Sépale (cm)      3.049296
Longueur Pétale (cm)     3.756643
Largeur Pétale (cm)      1.208219
Type Iris                1.000000
dtype: float64

In [8]:
my_dataframe.dtypes

id_Iris                   int32
Longueur Sépale (cm)    float64
Largeur Sépale (cm)     float64
Longueur Pétale (cm)    float64
Largeur Pétale (cm)     float64
Type Iris                 int64
dtype: object

## Transformation d'une colonne en index

In [ ]:
my_dataframe.set_index('id_Iris',inplace=True)
my_dataframe

## Tri selon l'index

In [ ]:
my_dataframe.sort_index(inplace=True) #Inplace permet de conserver les modification du DataFrame
my_dataframe

## Sélection d'une colonne de Dataframe

In [ ]:
my_dataframe['Largeur Sépale (cm)']

## Distribution des valeurs

In [ ]:
my_dataframe['Type Iris'].value_counts()

## Sélection d'une sous-partie de Dataframe (Slice) avec loc

In [ ]:
my_dataframe.loc[124:128,'Largeur Sépale (cm)':'Largeur Pétale (cm)']

In [ ]:
mon_petit_dataframe = my_dataframe.loc[145:,['Longueur Sépale (cm)','Longueur Pétale (cm)','Type Iris']]
mon_petit_dataframe

## Filtre

In [ ]:
display(mon_petit_dataframe['Longueur Pétale (cm)']>4)
mon_petit_dataframe[mon_petit_dataframe['Longueur Pétale (cm)']>4]

## Modification en masse (Vectorisation)

In [ ]:
mon_petit_dataframe * 2

In [ ]:
mon_petit_dataframe['Longueur Pétale (cm)'] = mon_petit_dataframe['Longueur Pétale (cm)'] -1
mon_petit_dataframe

## Agrégation avec Groupby

In [ ]:
my_dataframe.groupby("Type Iris")["Largeur Pétale (cm)"].mean()

## Conversion en Numpy

In [ ]:
my_array=mon_petit_dataframe.values
print(type(my_array))
my_array

## Quelques opérations NumPy

In [ ]:
my_array[3,2]

In [ ]:
my_array[-1,1]

In [ ]:
my_array + 1

In [ ]:
my_array + np.array([1,2,3])

In [ ]:
my_array == 1

In [ ]:
np.isnan(my_array)

In [ ]:
my_array.reshape(3, 5)

In [ ]:
my_doublearray = np.concatenate([my_array,my_array])
display(my_doublearray)
my_doublearray.shape

In [ ]:
my_doublearray.reshape(3, 5, 2)